<%- include('../partials/header') %>
<h2>Thêm Sản phẩm</h2>

<form action="/products" method="POST">
  <div class="mb-3">
    <label class="form-label">Tên sản phẩm</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Số lượng</label>
    <input type="number" name="quantity" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Giá</label>
    <input type="number" name="price" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Nhà cung cấp</label>
    <select name="supplier" class="form-control">
      <% suppliers.forEach(supplier => { %>
        <option value="<%= supplier._id %>"><%= supplier.name %></option>
      <% }) %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Lưu</button>
</form>
<%- include('../partials/footer') %>
